
.stylefirst{
    background-color: #ffff; 
}
.stylethird{
    width: 60px; 
    background-color: #7c4dff; 
    height: 2px
}
.stylefour{
    background-color: #ECEFF1
}
.complete{
    background-color: #ffff; 
    width: 100%;
}