@import url("https://fonts.googleapis.com/css2?family=Iceland&family=Poppins:wght@300&family=Signika:wght@300;400;500&display=swap");
body {
  background-color: #d6e5f3;
  font-family: "Signika", sans-serif;
}
.error-part {
  font-size: 12px;
  margin-bottom: 5px;
  color: red;
}
.registration-page {
  display: flex;
  justify-content: center;
}

.signup-content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 80px 80px;
  background-color: rgb(255, 254, 254);
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin-bottom: 100px;
}

.material-icons-name {
  font-size: 20px;
}

.form-group {
  margin-bottom: 25px !important;
  width: 350px;
}

.form-group .roshan {
  width: 90%;
}

#signup {
  all: unset;
  color: white;
  background-color: rgb(87, 143, 211);
  padding: 7px 23px;
  border-radius: 4px;
  cursor: pointer;
}
.signup-image {
  width: 45vw;
  width: 480px;
  margin-left: 50px;
}

.signup-image img {
  width: 100%;
}

.options {
  cursor: pointer;

  padding: 0 60px;
  text-align: center;

  background-color: white;
  color: black;
}

.options-container {
  /* overflow: scroll;
  height: 200px; */
  position: absolute;
  z-index: 3;
}
.options:hover {
  background-color: rgb(163, 160, 160);
}

@media screen and (max-width: 900px) {
  .signup-content {
    flex-direction: column;
    align-items: center;
  }
  .signup-image {
    max-width: 300px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 600px) {
  .signup-content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 10px;
    background-color: rgb(255, 254, 254);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;
  }
  .material-icons-name {
    font-size: 15px;
  }
  .form-group {
    margin-bottom: 25px !important;
    width: 300px;
    /* display: flex;
=======
}

.options{
    cursor: pointer;
    padding: 0 60px;
    text-align: center;
    background-color: white;
    color: black;
}

.options-container{
position:absolute;
z-index: 3;
}
.options:hover{
    background-color: rgb(163, 160, 160);
}

@media screen and  (max-width:900px) {
    .signup-content{
        flex-direction: column;
        align-items: center;
    }
    .signup-image{
        max-width: 300px;
        margin-left: 0px;
    }
}

@media screen and  (max-width:600px) {
    .signup-content{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        padding: 10px 10px;
        background-color: rgb(255, 254, 254);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 60px;
    }
    .material-icons-name{
        font-size: 15px;
    }
    .form-group{
        margin-bottom: 25px !important;
        width: 300px;
        /* display: flex;
>>>>>>> 4ae6e4c486c4d4fbbd3b96385cf4265e9f01a7c7
        justify-content: center;
        align-items: center ; */
  }
  .form-group .roshan {
    width: 90%;
  }
  .signup-image {
    max-width: 300px;
  }
  /* .error-part{
        margin-left: 20px;
    } */

  .margin-top {
    text-align: center;
    margin-top: 15px;
  }
}
